<include href="home/blocks/navbar.html"></include>
<include href="home/blocks/backnet.html"></include>

<div class="container">
    <br/>
    <div class="card card-nomargin">
        <div class="card-title">About</div>
        <p>
            SquareMS is an online application/program made solely by <b>Tijl Van den Brugghen</b>
            and maintained with friends. It has a long history before hitting this very first version.
        </p>
        <p>
            Maintainers:
        </p>
        <ul>
            <li>Tijl Van den Brugghen</li>
            <li>CamTosh</li>
        </ul>
    </div>
</div>

<include href="home/blocks/footer.html"></include>