<include href="home/blocks/navbar.html"></include>
<include href="home/blocks/backnet.html"></include>

<div class="container">
    <div class="text-center">
        <h1 class="text-power">A dynamic, powerful newsletter program.</h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card card-h200">
                <div class="card-title">Login</div>
                <div class="text-center"><br />
                    <a class="btn btn-lg btn-primary" href="/login">Go to login page</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-h200">
                <div class="card-title">Register</div>
                <p>SquareMS isn't a public program like MailJet and similar,
                but is instead limited to some high-quality customers. If you
                wan't to have a price suited to your needs, email us at contact@squarems.net</p>
            </div>
        </div>
    </div>
</div>

<include href="home/blocks/footer.html"></include>